@using GoalManager.Models
@model EmployeeHomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<div>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-item navbar-link active" href="~/Goal/CreateGoal">Create Goal</a>
        </li>
        @*<li class="nav-item">
            <a class="nav-item navbar-link active" href="~/Goal/UpdateGoal">Update Goal</a>
        </li>
        <li class="nav-item">
            <a class="nav-item navbar-link active" href="~/Goal/ViewGoal">View Goal</a>
        </li>*@
    </ul>
</div>

<div>
    <h1>Employee Home</h1>
    <table class="table  table-bordered table-hover table-responsive">
    <thead>
        <tr class="active">
            <th>Title</th>
            <th>Category</th>
            <th>Progress</th>
            <th>Deadline</th>
            <th>Description</th>
            <th>View Goal</th>
            <th>Update Goal</th>
        </tr>
    </thead>
        <tbody>
            @if (Model.Goals == null || Model.Goals.Count == 0)
            { }

            else
            {
                foreach (var g in Model.Goals)
                {
                    var approval = "";
                    if (g.Status == "Pending")
                    {
                        approval = "danger";
                    }

                    else
                    {
                        approval = "success";
                    }
                    <tr>
                        <td class=@approval>@g.Title</td>
                        <td class=@approval>@g.Category</td>
                        <td class=@approval>@g.Progress</td>
                        <td class=@approval>@g.StartDate.ToString("D")</td> <!--Must update Update table to support Date attribute-->
                        <td class=@approval>@g.Description</td>
                        <td>
                            <form action="/Goal/ViewGoal" method="get">
                                <input type="hidden" name="GID" value="@g.GID" />
                                <input type="submit" value="View" />
                            </form>
                        </td>
                        <td>
                            <form action="/Goal/UpdateGoal" method="get">
                                <input type="hidden" name="GIDRef" value="@g.GID" />
                                <input type="submit" value="Update" />
                            </form>
                        </td>
                    </tr>
                }
                <tr>
                    <td class="success"></td>
                    <td class="success"></td>
                    <td class="success"></td>
                    <td class="success"></td>
                    <td class="success"></td>
                    <td>
                        <form action="/Goal/CreateGoal" method="get">
                            <input type="hidden" name="uid" value="@Model.Goals.First().UID" />
                            <input type="submit" value="Create Goal" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>           
</div>