@using GoalManager.Models
@model EmployeeHomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<div>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-item navbar-link active" href="~/Goal/CreateGoal">Create Goal</a>
        </li>
        @*<li class="nav-item">
            <a class="nav-item navbar-link active" href="~/Goal/UpdateGoal">Update Goal</a>
        </li>
        <li class="nav-item">
            <a class="nav-item navbar-link active" href="~/Goal/ViewGoal">View Goal</a>
        </li>*@
    </ul>
</div>

<div>
    <h2>Pending Goals</h2>
    <table class="table  table-bordered table-hover table-responsive">
    <thead>
        <tr class="active">
            <th>Title</th>
            <th>Category</th>
            <th>Progress</th>
            <th>Deadline</th>
            <th>Description</th>
            <th>Status</th>
            <th>View Goal</th>
            <th>Update Goal</th>
        </tr>
    </thead>
        <tbody>
            @if (Model.PendingGoals == null || Model.PendingGoals.Count == 0)
            { }

            else
            {
                var approval = "";
                foreach (var g in Model.PendingGoals)
                {
                    if (g.Status == "Pending")
                    {
                        approval = "alert-info";
                    }

                    else
                    {
                        approval = "success";
                    }
                    <tr>
                        <td class=@approval>@g.Title</td>
                        <td class=@approval>@g.Category</td>
                        <td class=@approval>@g.Progress</td>
                        <td class=@approval>@g.EndDate.ToString("D")</td> <!--Must update Update table to support Date attribute-->
                        <td class=@approval>@g.Description</td>
                        <td class=@approval>@g.Status</td>
                        <td>
                            <form action="/Goal/ViewGoal" method="get">
                                <input type="hidden" name="GID" value="@g.GID" />
                                <input type="submit" value="View" />
                            </form>
                        </td>
                        <td>
                            <form action="/Goal/UpdateGoal" method="get">
                                <input type="hidden" name="GIDRef" value="@g.GID" />
                                <input type="submit" value="Update" />
                            </form>
                        </td>
                    </tr>
                }
                <tr>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td></td>
                    <td>
                        <form action="/Goal/CreateGoal" method="get">
                            <input type="hidden" name="uid" value="@Model.Goals.First().UID" />
                            <input type="submit" value="Create Goal" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    <!-- Active Goals -->
    <h2>Active Goals</h2>
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr class="active">
                <th>Title</th>
                <th>Category</th>
                <th>Progress</th>
                <th>Deadline</th>
                <th>Description</th>
                <th>Status</th>
                <th>View Goal</th>
                <th>Update Goal</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ActiveGoals == null || Model.ActiveGoals.Count == 0)
            { }

            else
            {
                var approval = "";
                foreach (var g in Model.ActiveGoals)
                {
                    if (g.Status == "Pending")
                    {
                        approval = "danger";
                    }

                    else
                    {
                        approval = "success";
                    }
                    <tr>
                        <td class=@approval>@g.Title</td>
                        <td class=@approval>@g.Category</td>
                        <td class=@approval>@g.Progress</td>
                        <td class=@approval>@g.EndDate.ToString("D")</td> <!--Must update Update table to support Date attribute-->
                        <td class=@approval>@g.Description</td>
                        <td class=@approval>@g.Status</td>
                        <td>
                            <form action="/Goal/ViewGoal" method="get">
                                <input type="hidden" name="GID" value="@g.GID" />
                                <input type="submit" value="View" />
                            </form>
                        </td>
                        <td>
                            <form action="/Goal/UpdateGoal" method="get">
                                <input type="hidden" name="GIDRef" value="@g.GID" />
                                <input type="submit" value="Update" />
                            </form>
                        </td>
                    </tr>
                }
                <tr>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td></td>
                    <td>
                        <form action="/Goal/CreateGoal" method="get">
                            <input type="hidden" name="uid" value="@Model.Goals.First().UID" />
                            <input type="submit" value="Create Goal" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    <!-- Denied Goals -->
    <h2>Denied Goals</h2>
    <table class="table  table-bordered table-hover table-responsive">
        <thead>
            <tr class="active">
                <th>Title</th>
                <th>Category</th>
                <th>Progress</th>
                <th>Deadline</th>
                <th>Description</th>
                <th>Status</th>
                <th>View Goal</th>
                <th>Update Goal</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.DeniedGoals == null || Model.DeniedGoals.Count == 0)
            { }

            else
            {
                var approval = "";
                foreach (var g in Model.DeniedGoals)
                {
                    if (g.Status == "Denied")
                    {
                        approval = "danger";
                    }

                    else
                    {
                        approval = "success";
                    }
                    <tr>
                        <td class=@approval>@g.Title</td>
                        <td class=@approval>@g.Category</td>
                        <td class=@approval>@g.Progress</td>
                        <td class=@approval>@g.EndDate.ToString("D")</td> <!--Must update Update table to support Date attribute-->
                        <td class=@approval>@g.Description</td>
                        <td class=@approval>@g.Status</td>
                        <td>
                            <form action="/Goal/ViewGoal" method="get">
                                <input type="hidden" name="GID" value="@g.GID" />
                                <input type="submit" value="View" />
                            </form>
                        </td>
                        <td>
                            <form action="/Goal/UpdateGoal" method="get">
                                <input type="hidden" name="GIDRef" value="@g.GID" />
                                <input type="submit" value="Update" />
                            </form>
                        </td>
                    </tr>
                }
                <tr>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td></td>
                    <td>
                        <form action="/Goal/CreateGoal" method="get">
                            <input type="hidden" name="uid" value="@Model.Goals.First().UID" />
                            <input type="submit" value="Create Goal" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    <!-- Failed Goals -->
    <h2>Failed Goals</h2>
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr class="active">
                <th>Title</th>
                <th>Category</th>
                <th>Progress</th>
                <th>Deadline</th>
                <th>Description</th>
                <th>Status</th>
                <th>View Goal</th>
                <th>Update Goal</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.FailedGoals == null || Model.FailedGoals.Count == 0)
            { }

            else
            {
                var approval = "";
                foreach (var g in Model.FailedGoals)
                {
                if (g.Status == "Failed")
                {
                    approval = "danger";
                }

                else
                {
                    approval = "success";
                }
                    <tr>
                        <td class=@approval>@g.Title</td>
                        <td class=@approval>@g.Category</td>
                        <td class=@approval>@g.Progress</td>
                        <td class=@approval>@g.EndDate.ToString("D")</td> <!--Must update Update table to support Date attribute-->
                        <td class=@approval>@g.Description</td>
                        <td class=@approval>@g.Status</td>
                        <td>
                            <form action="/Goal/ViewGoal" method="get">
                                <input type="hidden" name="GID" value="@g.GID" />
                                <input type="submit" value="View" />
                            </form>
                        </td>
                        <td>
                            <form action="/Goal/UpdateGoal" method="get">
                                <input type="hidden" name="GIDRef" value="@g.GID" />
                                <input type="submit" value="Update" />
                            </form>
                        </td>
                    </tr>
                }
                <tr>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td class=@approval></td>
                    <td></td>
                    <td>
                        <form action="/Goal/CreateGoal" method="get">
                            <input type="hidden" name="uid" value="@Model.Goals.First().UID" />
                            <input type="submit" value="Create Goal" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>               
               
</div>