@using GoalManager.Models
@model EmployeeHomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.Title</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-item navbar-link active" href="~/Goal/CreateGoal">Create Goal</a>
                </li>
            </ul>
        </div>
    </div>
</div>
@if (Model.PendingGoals.Count != 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Pending Goals</h2>
                <table class="table  table-bordered table-responsive table-condensed">
                    <thead>
                        <tr class="active">
                            <th>Title</th>
                            <th>Category</th>
                            <th>Progress</th>
                            <th>Deadline</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>View Goal</th>
                            <th>Update Goal</th>
                        </tr>
                    </thead>
                    <tbody>
              @foreach (var g in Model.PendingGoals)
                {
                    string approval = "";
                    if (g.Status == "Pending")
                    {
                        approval = "alert-info";
                    }

                    else
                    {
                        approval = "success";
                    }
                    <tr class="@approval">
                        <td>@g.Title</td>
                        <td>@g.Category</td>
                        <td>@g.Progress</td>
                        <td>@g.EndDate.ToString("D")</td> <!--Must update Update table to support Date attribute-->
                        <td>@g.Description</td>
                        <td>@g.Status</td>
                        <td>
                            <form action="/Goal/ViewGoal" method="get">
                                <input type="hidden" name="GID" value="@g.GID" />
                                <input type="submit" value="View" />
                            </form>
                        </td>
                        <td>
                            <form action="/Goal/UpdateGoal" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="GIDRef" value="@g.GID" />
                                <input type="submit" value="Update" />
                            </form>
                        </td>
                    </tr>
                        }
                    </tbody>
                </table>
            </div> <!--End Column-->
        </div> <!--End Row-->
    </div> <!--End Container-->
}
<!-- Active Goals -->
@if (Model.ActiveGoals.Count != 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Active Goals</h3>
                <table class="table table-bordered table-responsive table-condensed">
                    <thead>
                        <tr class="active">
                            <th>Title</th>
                            <th>Category</th>
                            <th>Progress</th>
                            <th>Deadline</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>View</th>
                            <th>Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var g in Model.ActiveGoals)
                        {
                            string approval = "";
                            if (g.Status == "Pending")
                            {
                                approval = "danger";
                            }

                            else
                            {
                                approval = "alert-info";
                            }
                            <tr class=@approval>
                                <td>@g.Title</td>
                                <td>@g.Category</td>
                                <td>@g.Progress</td>
                                <td>@g.EndDate.ToString("D")</td> <!--Must update Update table to support Date attribute-->
                                <td>@g.Description</td>
                                <td>@g.Status</td>
                                <td>
                                    <form action="/Goal/ViewGoal" method="get">
                                        <input type="hidden" name="GID" value="@g.GID" />
                                        <input type="submit" value="View" />
                                    </form>
                                </td>
                                <td>
                                    <form action="/Goal/UpdateGoal" method="post">
                                        <input type="hidden" name="GIDRef" value="@g.GID" />
                                        @Html.AntiForgeryToken()
                                        <input type="submit" value="Update" />
                                    </form>
                                </td>
                            </tr>
                        }
                        <tr class="alert-info">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <form action="/Goal/CreateGoal" method="get">
                                    <input type="hidden" name="uid" value="@Model.Goals.First().UID" />
                                    <input type="submit" value="Create Goal" />
                                </form>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div> <!--End Column-->
        </div> <!--End Row-->
    </div> <!--End Container-->

}

<!-- Denied Goals -->
@if (Model.DeniedGoals.Count != 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Denied Goals</h3>
                <table class="table table-bordered table-responsive table-condensed">
                    <thead>
                        <tr class="active">
                            <th>Title</th>
                            <th>Category</th>
                            <th>Progress</th>
                            <th>Deadline</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var g in Model.DeniedGoals)
                        {
                            var approval = "";
                            if (g.Status == "Denied")
                            {
                                approval = "warning";
                            }

                            else
                            {
                                approval = "success";
                            }
                            <tr class=@approval>
                                <td>@g.Title</td>
                                <td>@g.Category</td>
                                <td>@g.Progress</td>
                                <td>@g.EndDate.ToString("D")</td> <!--Must update Update table to support Date attribute-->
                                <td>@g.Description</td>
                                <td>@g.Status</td>
                                <td> 
                                    <form action="/Goal/ViewGoal" method="get">
                                        <input type="hidden" name="GID" value="@g.GID" />
                                        <input type="submit" value="View" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div> <!--End Column-->
        </div> <!--End Row-->
    </div> <!--End Container-->

}

<!-- Failed Goals -->
@if (Model.FailedGoals.Count != 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Failed Goals</h2>
                <table class="table table-bordered table-responsive table-condensed">
                    <thead>
                        <tr class="active">
                            <th>Title</th>
                            <th>Category</th>
                            <th>Progress</th>
                            <th>Deadline</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>View Goal</th>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var g in Model.FailedGoals)
                        {
                            var approval = "";
                            if (g.Status == "Failed")
                            {
                                approval = "danger";
                            }

                            else
                            {
                                approval = "success";
                            }
                            <tr class=@approval>
                                <td>@g.Title</td>
                                <td>@g.Category</td>
                                <td>@g.Progress</td>
                                <td>@g.EndDate.ToString("D")</td> <!--Must update Update table to support Date attribute-->
                                <td>@g.Description</td>
                                <td>@g.Status</td>
                                <td>
                                    <form action="/Goal/ViewGoal" method="get">
                                        <input type="hidden" name="GID" value="@g.GID" />
                                        <input type="submit" value="View" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div> <!--End Column-->
        </div> <!--End Row-->
    </div> <!--End Container-->
}

@if (Model.CompletedGoals.Count != 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Completed Goals</h3>
                <table class="table table-bordered table-responsive table-condensed">
                    <thead>
                        <tr class="active">
                            <th>Title</th>
                            <th>Category</th>
                            <th>Progress</th>
                            <th>Deadline</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>View Goal</th>
                            <th>Update Goal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var g in Model.CompletedGoals)
                        {
                            var approval = "";
                            if (g.Status == "Sucess")
                            {
                                approval = "Sucess";
                            }

                            else
                            {
                                approval = "success";
                            }
                            <tr class=@approval>
                                <td>@g.Title</td>
                                <td>@g.Category</td>
                                <td>@g.Progress</td>
                                <td>@g.EndDate.ToString("D")</td> <!--Must update Update table to support Date attribute-->
                                <td>@g.Description</td>
                                <td>@g.Status</td>
                                <td>
                                    <form action="/Goal/ViewGoal" method="get">
                                        <input type="hidden" name="GID" value="@g.GID" />
                                        <input type="submit" value="View" />
                                    </form>
                                </td>
                                <td>
                                    <form action="/Goal/UpdateGoal" method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="GIDRef" value="@g.GID" />
                                        <input type="submit" value="Update" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div> <!--End Column-->
        </div> <!--End Row-->
    </div> <!--End Container-->
}