@using GoalManager.Models
@model SupervisorHomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Supervisor Home";
}

<h1>@ViewBag.Title</h1>

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Goal/CreateGoal">Create Goal</a>
    </li>
</ul>

<div class="container">
@*Approval List*@
    <div class="col-md-6">
        <h3>New Employee Goals</h3>
        <table class="table table-bordered table-hover table-responsive table-condensed">
            <thead>
                <tr class="active">
                    <th>Name</th>
                    <th>Title</th>
                    <th>Goal Title</th>
                    <th>Goal Start Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Goal in Model.GoalApprovalList)
            {
                    <tr class="danger">
                        <td>
                            @Goal.User.FirstName @Goal.User.LastName
                            <form method="post">
                                <input type="hidden" name="" value="" />
                                <input type="submit" value="Approve" />
                            </form>
                        </td>
                        <td>@Goal.User.Title</td>
                        <td>@Goal.Title</td>
                        <td>@Goal.StartDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @*My Goals*@
    <div class="col-md-6">
            <h3>My Goals</h3>
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr class="active">
                        <th>Title</th>
                        <th>Category</th>
                        <th>Progress</th>
                        <th>Deadline</th>
                        <th>Description</th>
                        <th>View Goal</th>
                        <th>Update Goal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Goal in Model.Goals)
                    {
                        <tr class="success">
                            <td>@Goal.Title</td>
                            <td>@Goal.Category</td>
                            <td>@Goal.Progress</td>
                            <td>@Goal.StartDate</td> <!--Must update Update table to support Date attribute-->
                            <td>@Goal.Description</td>
                            <td>
                                <form action="/Goal/ViewGoal" method="get">
                                    <input type="hidden" name="GID" value="@Goal.GID" />
                                    <input type="submit" value="View" />
                                </form>
                            </td>
                            <td>
                                <form action="/Goal/UpdateGoal" method="get">
                                    <input type="hidden" name="GIDRef" value="@Goal.GID" />
                                    <input type="submit" value="Update" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @*Managed Departments*@
    <div class="container">
        @if (Model.Departments != null)
        {
           
            <div class="col-md-6">
                <h3>My Departments</h3>
                <table class="table table-responsive table-bordered table-hover">
                    <thead>
                        <tr class="active">
                            <th>Department</th>
                            <th>Description</th>
                            <th>Location</th>
                            <th>Reports</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var Department in Model.Departments)
                        {
                            <tr class="success">
                                <td>@Department.Name</td>
                                <td>@Department.Description</td>
                                <td>@Department.Location</td>
                                <td>
                                    @*TODO: ViewReport(Department)*@
                                    <!-- Trying a GET/POST in ReportController-->
                                    <form action="/Report/ViewDepartmentReport" method="post">
                                        <input type="hidden" name="DeptRefID" value="@Department.DID" />
                                        <input type="submit" value="View Report" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @*Managed Employees*@
            <div class="col-md-6">
                <h3>Managed Employees</h3>
                <table class="table table-bordered table-hover table-responsive">
                    <thead>
                        <tr class="active">
                            <th>Name</th>
                            <th>Title</th>           
                            <th>Reports</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Employee in Model.Employees)
                        {
                            <tr class="success">
                                <td>@Employee.FirstName @Employee.LastName</td>
                                <td>@Employee.Title</td>
                                <td>
                                    @*TODO: ViewReport(Employee)*@
                                    <form action="/Report/ViewEmployeeReport" method="post">
                                        <input type="hidden" name="EmployeeRefID" value="@Employee.UID" />
                                        <input type="submit" value="View Report" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        }
    </div>
