@using GoalManager.Models
@model SupervisorHomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Supervisor Home";
}

<h1>@ViewBag.Title</h1>
<h3>Current Departments</h3>
@if (Model.Departments != null)
{
    if (Model.Departments.Count != 0)
    {
        foreach (var x in Model.Departments)
        {
            <p>@x.Name</p><p>@x.Description</p>
        }
    }
}

@if (Model.GoalApprovalList != null)
{
    <table class="table table-bordered table-hover table-responsive table-condensed">
        <thead>
            <tr class="active">
                <th>Name</th>
                <th>Title</th>
                <th>Role</th>
                <th>Department</th>
                <th>Goal Title</th>
                <th>Goal Start Date</th>
                <th>Goal Approved?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var g in Model.GoalApprovalList)
            {
                <tr>
                    <td class="danger">@g.User.FirstName @g.User.LastName</td>
                    <td class="danger">@g.User.Title</td>
                    <td class="danger">@g.User.Role</td>
                    <td class="danger">@g.User.Department</td>
                    <td class="danger">@g.Title</td>
                    <td class="danger">@g.StartDate</td>
                    <td class="danger">@g.Approved</td>
                </tr>
            }
        </tbody>
    </table>
}

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Goal/CreateGoal">Create Goal</a>
    </li>
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Goal/UpdateGoal">Update Goal</a>
    </li>
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Goal/ViewGoal">View Goal</a>
    </li>
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Report/ViewDepartmentReport">View Department Report</a>
    </li>
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Report/ViewEmployeeReport">View Employee Report</a>
    </li>  
</ul>