@using GoalManager.Models
@model CreateGoalViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Goal";
}

<h1>@ViewBag.Title</h1>

<div class="text-danger">
    @Html.ValidationSummary()
</div>

<form method="post">
    @Html.AntiForgeryToken()
    <div class="form-group form-horizontal">
        <label for="Title">Title</label>
        <input type="text" class="form-control" name="Title" value="@Model.Goal.Title" />
    </div>

    <div class="form-group form-horizontal">
        <label for="Description">Description</label>
        <textarea type="text" name="Description" value="@Model.Goal.Description" class="form-control"></textarea>
    </div>

    <div class="form-group form-horizontal">
        <label for="CategoryName">Category</label>
        @Html.DropDownListFor(x => x.CategoryName, Model.CatDropDown, new { Name = "CategoryName", Class = "form-control"})
    </div>

    <div class="form-group form-horizontal">
        <label for="QuarterTime">Quarter</label>
        @Html.DropDownListFor(x => x.QuarterTime, Model.QuartDropDown, new { Name = "QuarterTime", Class = "form-control" })
    </div>
    <input type="submit" />
</form>



