@using GoalManager.Models;
@model UpdateGoalViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Update Goal";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>@ViewBag.Title</h3>
            <p>Goal: @Model.Goal.Title</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p><b>From</b>: @Model.Goal.StartDate.ToString("D") - <b>To</b>: @Model.Goal.EndDate.ToString("D")</p>
        </div>
    </div>
</div>

<div class="text-danger">
    @Html.ValidationSummary()
</div>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <form method="post">
                <div class="form-group form-horizontal">
                    <label for="Subject">Subject</label>
                    <input type="text" class="form-control" name="Subject" value="@Model.Subject" />
                </div>
                <div class="form-group form-horizontal">
                    <label for="Progress">Progress</label>
                    <input type="number" class="form-control" name="Progress" value="@Model.MinProgress" />
                    <small>This update's progress must be between at least @Model.MinProgress to 100. </small>
                </div>
                <div class="form-group form-horizontal">
                    <label for="Notes">Notes</label>
                    <textarea class="form-control" name="Notes" value="@Model.Notes"></textarea>
                </div>
                <input type="hidden" name="GoalRef" value=@Model.GoalRef />
                <input type="hidden" name="MinProgress" value=@Model.MinProgress />
                @Html.AntiForgeryToken()
                <input type="submit" />
            </form>
        </div><!--Ending Form Field-->
        <div class="col-md-7">

            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Progress</th>
                        <th>Time of Update</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Update in Model.Updates)
                    {
                        <tr>
                            <td>@Update.Subject</td>
                            <td>@Update.Progress</td>
                            <td>@Update.Time</td>
                            <td>@Update.Notes</td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div> <!--Ending List of Updates-->
    </div> <!--Ending Row-->
</div> <!--Ending Container-->