@using GoalManager.Models;
@model UpdateGoalViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Update Goal";
}



<h1>@ViewBag.Title</h1>

@Html.ValidationSummary();

<form method="post">
    <div class="form-group form-horizontal">
        <label for="Title">Update Subject</label>
        <input type="text" class="form-control" value="@Model.Update.Title"/>
        <small class="form-text text-muted">Note:All users will see this for their respective Department criteria  </small>
    </div>
    <div class="form-group form-horizontal">
        <label for="Progress">Progress</label>
        <input type="number" class="form-control" value="@Model.Update.Progress"/>
    </div>
    <div class="form-group form-horizontal">
        <label for="Decription">Description</label>
        <textarea class="form-control" value="@Model.Update" ></textarea>
        
    </div>
<input type="submit"/>
</form>