@using GoalManager.Models;
@model ViewGoalViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "View Goal";
    
}

<h1>@ViewBag.Title</h1>
<h3>Goal : @Model.Goal.Title</h3>
<h4>Start Date : @Model.Goal.StartDate.ToString("D")</h4>
<h4>End Date : @Model.Goal.EndDate.ToString("D")</h4>
<h3>Total Progress: </h3>
<table class="table  table-bordered table-hover table-responsive">
    <thead>
        <!--update section-->
        <tr class="active">
            <th>Update</th>
            <th>Deadline</th>
            <th>Progress</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Updates)
        {
            <tr>
                <td class="success">@x.Subject</td>
                <td class="success">@x.Time.ToString("D")</td>
                <td class="success">@x.Progress</td>
                <td class="success">@x.Notes</td>
            </tr>
        }
        <!-- end of update section-->
    </tbody>
    </table>
