@using GoalManager.Models
@model DepartmentViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Department";
}

<h1>@ViewBag.Title</h1>
@Html.ValidationSummary()

    <form method="post">
        <div class="form-group form-horizontal">
            <label for="name">Department Name:</label>
            <input type="text" name="" class="form-control" /> <!--Input Department Name-->
            <small class="form-text text-muted">Note:All users will see this for their respective Department criterias  </small>
        </div>
        <div class="form-group">
            <label for="Supervisor">Supervisor:</label>
            <select class="form-control">
                @foreach (var x in Model.Supervisors)
                {
                    <option>@x.FirstName @x.LastName</option>
                }
            </select>
            <small class="form-text text-muted">Please Select the Supervisor</small>
        </div>
        <div class="form-group form-horizontal">
            <label for="Location">Location:</label>
            <input type="text" name="Location" class="form-control" value="@Model.Department.Location"/> <!--Department Location-->
            <small class="form-text text-muted">Please explain where this department is at.  </small>
        </div>

        <div class="form-group form-horizontal">
            <label for="Decription">Department Description:</label>
            <textarea type="text" name="Description" value="@Model.Department.Description" class="form-control"></textarea>
            <small class="form-text text-muted">Please type decribe what the Department does </small>
        </div>
        <input type="submit" />
    </form>