@using GoalManager.Models
@model ViewEmployeeReportViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "View Employee Report";
}
<h1>View Report - Employee</h1>

@if (Model.Employee != null && Model.Department != null)
{
    <h1>Name: @Model.Employee.FirstName @Model.Employee.LastName</h1>
    <h2>Department: @Model.Department.Name</h2> <!--must had deparment name-->

    <!-- Pending goals -->
    if (Model.PendingGoals.Count > 0)
    {
        <h3>Pending Goals</h3>
        foreach (var g in Model.PendingGoals)
        {
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr class="alert-info">
                        <th>Goal Title</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Progress</th>
                        <th>Goal Status</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="alert-info">
                        <td>@g.Title</td>
                        <td>@g.Description</td>
                        <td>@g.StartDate.ToString("D")</td>
                        <td>@g.EndDate.ToString("D")</td>
                        <td>@g.Progress</td>
                        <td>@g.Status</td>
                    </tr>

                    <!--UPDATES-->
                    @if (Model.EmployeeUpdates.ContainsKey(g.GID))
                    {
                        <tr>
                            <th>    </th>
                            <th>    </th>
                            <th>Update</th>
                            <th>Notes</th>
                            <th>Progress</th>
                            <th>Date</th>
                        </tr>

                        foreach (var u in Model.EmployeeUpdates[g.GID])
                        {
                            <tr class="alert-info">
                                <td>    </td>
                                <td>    </td>
                                <td>@u.Subject</td>
                                <td>@u.Notes</td>
                                <td>@u.Progress</td>
                                <td>@u.Time.ToString("D")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }

    <!-- Active goals -->
    if (Model.ActiveGoals.Count > 0)
    {
        <h3>Active Goals</h3>
        var goalStatus = "";
        foreach (var g in Model.ActiveGoals)
        {
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr class="active">
                        <th>Goal Title</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Progress</th>
                        <th>Goal Status</th>
                    </tr>
                </thead>

                <tbody>
                    @if (g.Approved && g.Status == "Active")
                    {
                        goalStatus = "success";
                    }

                    @if (g.Approved == false)
                    {
                        goalStatus = "alert-info";
                    }

                    @if (g.Status == "Failed" || g.Status == "Denied")
                    {
                        goalStatus = "danger";
                    }
                    <tr class=@goalStatus>
                        <td>@g.Title</td>
                        <td>@g.Description</td>
                        <td>@g.StartDate.ToString("D")</td>
                        <td>@g.EndDate.ToString("D")</td>
                        <td>@g.Progress</td>
                        <td>@g.Status</td>
                    </tr>

                    @if (Model.EmployeeUpdates.ContainsKey(g.GID))
                    {
                        <!--UPDATES-->
                        <tr>
                            <th>    </th>
                            <th>    </th>
                            <th>Update</th>
                            <th>Notes</th>
                            <th>Progress</th>
                            <th>Date</th>
                        </tr>

                        foreach (var u in Model.EmployeeUpdates[g.GID])
                        {
                            <tr class="@goalStatus">
                                <td>    </td>
                                <td>    </td>
                                <td>@u.Subject</td>
                                <td>@u.Notes</td>
                                <td>@u.Progress</td>
                                <td>@u.Time.ToString("D")</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        }
    }

    <!-- Denied goals -->
    if (Model.DeniedGoals.Count > 0)
    {
        <h3>Denied Goals</h3>
        foreach (var g in Model.DeniedGoals)
        {
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr class="active">
                        <th>Goal Title</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Progress</th>
                        <th>Goal Status</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="alert-danger">
                        <td>@g.Title</td>
                        <td>@g.Description</td>
                        <td>@g.StartDate.ToString("D")</td>
                        <td>@g.EndDate.ToString("D")</td>
                        <td>@g.Progress</td>
                        <td>@g.Status</td>
                    </tr>

                    <!--UPDATES-->
                    @if (Model.EmployeeUpdates.ContainsKey(g.GID))
                    {
                        <tr class="active">
                            <th>    </th>
                            <th>    </th>
                            <th>Update</th>
                            <th>Notes</th>
                            <th>Progress</th>
                            <th>Date</th>
                        </tr>

                        foreach (var u in Model.EmployeeUpdates[g.GID])
                        {
                            <tr class="alert-danger">
                                <td>    </td>
                                <td>    </td>
                                <td>@u.Subject</td>
                                <td>@u.Notes</td>
                                <td>@u.Progress</td>
                                <td>@u.Time.ToString("D")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }

    <!-- Failed goals -->
    if (Model.FailedGoals.Count > 0)
    {
        <h3>Failed Goals</h3>
        foreach (var g in Model.FailedGoals)
        {
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr class="active">
                        <th>Goal Title</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Progress</th>
                        <th>Goal Status</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="alert-danger">
                        <td>@g.Title</td>
                        <td>@g.Description</td>
                        <td>@g.StartDate.ToString("D")</td>
                        <td>@g.EndDate.ToString("D")</td>
                        <td>@g.Progress</td>
                        <td>@g.Status</td>
                    </tr>

                    <!--UPDATES-->
                    @if (Model.EmployeeUpdates.ContainsKey(g.GID))
                    {
                        <tr class="active">
                            <th>    </th>
                            <th>    </th>
                            <th>Update</th>
                            <th>Notes</th>
                            <th>Progress</th>
                            <th>Date</th>
                        </tr>

                        foreach (var u in Model.EmployeeUpdates[g.GID])
                        {
                            <tr class="alert-danger">
                                <td>    </td>
                                <td>    </td>
                                <td>@u.Subject</td>
                                <td>@u.Notes</td>
                                <td>@u.Progress</td>
                                <td>@u.Time.ToString("D")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }
}


