@using GoalManager.Models
@model ViewDepartmentReportViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "View Department Report";
}

<h1><b>View Report (Department)</b></h1>

@if (Model.Department != null)
{
    <h2>@Model.Department.Name</h2>
    <h3>Supervisor: @Model.Supervisor.FirstName @Model.Supervisor.LastName</h3>
    <h3>Title:  @Model.Department.User.Title</h3>

    if (Model.Employees.Count != 0)
    {
        foreach (var e in Model.Employees)
        {
            <table class="table table-bordered table-hover table-responsive"> 
                <thead>
                    <tr>
                        <th>Employee</th>
                        <th>Title</th>
                        <th>Department</th>
                        <th>    </th>
                        <th>    </th>
                        <td>    </td>
                    </tr>
                </thead>

                <tbody>
                    <tr class="alert-info">
                        <td>@e.FirstName @e.LastName</td>
                        <td>@e.Title</td>
                        <td>@e.Department.Name</td>
                        <td>    </td>
                        <td>    </td>
                        <td>    </td>
                    </tr>

                    @*@if (Model.EmployeeGoals.Count != 0)*@
                    @if (Model.EmployeeGoals.ContainsKey(e.UID))
                    {
                        <!--Goal section-->
                        <tr class="active">
                            <td>    </td>
                            <th>Goal</th>
                            <th>Description</th>
                            <th>Progress</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                        <!--Iterate thru each list of Goals for each EE-->
                        foreach (var g in Model.EmployeeGoals[e.UID])
                        {
                            if (g.Status == "Active")
                            {
                                <tr class="alert-warning">
                                    <td>    </td>
                                    <td>@g.Title</td>
                                    <td>@g.Description</td>
                                    <td>@g.Progress</td>
                                    <td>@g.StartDate.ToString("D")</td>
                                    <td>@g.EndDate.ToString("D")</td>
                                </tr>

                                <!-- Goal's Updates -->
                                if (Model.GoalUpdates.ContainsKey(g.GID))
                                {
                                    <tr class="active">
                                        <td>    </td>
                                        <th>    </th>
                                        <th>Update</th>
                                        <th>Progress</th>
                                        <th>Notes</th>
                                        <th>Date</th>
                                    </tr>
                                }
                                if (Model.GoalUpdates.Count != 0)
                                {
                                    // For each Update for this Goal
                                    foreach (var u in Model.GoalUpdates[g.GID])
                                    {
                                        <tr class="alert-warning">
                                            <td>    </td>
                                            <td>    </td>
                                            <td>@u.Subject</td>
                                            <td>@u.Progress</td>
                                            <td>@u.Notes</td>
                                            <td>@u.Time.ToString("D")</td>
                                        </tr>
                                    }
                                } <!-- End of Goal's Updates -->
                            }
                        } <!-- End of Employee's Goals -->
                    }
                </tbody>
            </table>
        } <!-- End of Department's Employees -->
    }
}


