<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | TaxSlayer GoalManager</title>
    <link rel="icon" href="@Url.Content("~/Images/taxslayer_icon.ico")"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header col-lg-2 col-md-2 hidden-sm pull-left" role="navigation" id="logonav">
                <a class="navbar-brand" href="~/Home/Index" id="conlogo">
                    <img alt="TaxSlayerLogo" src="~/Images/TaxSlayerLogo.png" id=bannerlogo> <!--must resize inline here-->
                </a>
            </div>
            <p class="navbar-text" id="navtext">@ViewBag.Title</p>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "MainView", "Home")</li>
                </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - TaxSlayer | GoalManager</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
