@using GoalManager.Models
@model ModifyEmployeeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Modify Employee";
}
<h1>@ViewBag.Title</h1>


<div class="text-danger">
    @Html.ValidationSummary()
</div>

<form method="post">
    @Html.AntiForgeryToken()
    <div class="form-group form-horizontal">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" name="FirstName" value="@Model.FirstName" />
    </div>

    <div class="form-group form-horizontal">
        <label for="Lastname">Last Name</label>
        <input type="text" class="form-control" name="LastName" value="@Model.LastName" />
    </div>

    <div class="form-group form-horizontal">
        <label for="Email">Email</label>
        <input type="email" class="form-control" name="Email" value="@Model.Email" />
    </div>

    <div class="form-group form-horizontal">
        <label for="Title">Employee Title</label>
        <input type="text" class="form-control" name="Title" value="@Model.Title" />
    </div>

    <div class="form-group form-horizontal">
        <label for="Role">Role</label>
        <select class="form-control" name="Role" value="@Model.Role">
            <option selected="selected" value="0">Please Select Role</option>
            <option value="Employee">Employee</option>
            <option value="Supervisor">Supervisor</option>
            <option value="Administrator">Administrator</option>
        </select>
    </div>

    <div class="form-group form-horizontal">
        <label for="DepRefChoice">Department</label>

        @Html.DropDownListFor(x => x.DepRefChoice, Model.DeptDropDown, new { Name = "DepRefChoice", Class = "form-control" })
    </div>

  
    <!--Must add values to radio buttons true and false!-->
    <div class="form-group">
        <label for="Active"> Currently Active</label>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="Active" id="exampleRadios1" value="true" checked>
                Active
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="Active" id="exampleRadios2" value="false">
                InActive
            </label>
        </div>

    </div>

    <input type="hidden" name="IDRef" value="0" />
    <input type="hidden" name="UID" value="@Model.UID" />
    @Html.AntiForgeryToken()
    <input type="submit" />
</form>