@using GoalManager.Models
@model ModifyEmployeeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Modify Employee";
}

<h1>@ViewBag.Title</h1>

<div class="text-danger">
    @Html.ValidationSummary()
</div>
<form method="post">
    @Html.AntiForgeryToken()
    <div class="form-group form-horizontal">
        <label for="Firstname">First Name</label>
        <input type="text" class="form-control" name="FirstName" value="@Model.FirstName" />
    </div>

    <div class="form-group form-horizontal">
        <label for="Lastname">Last Name</label>
        <input type="text" class="form-control" name="LastName" value="@Model.LastName" />
    </div>

    <div class="form-group form-horizontal">
        <label for="Email">Email</label>
        <input type="email" class="form-control" name="Email" value="@Model.Email" />
    </div>

    <div class="form-group form-horizontal">
        <label for="Title">Employee Title</label>
        <input type="text" class="form-control" name="Title" value="@Model.Title" />
    </div>

    <div class="form-group form-horizontal">
        <label for="Role">Role</label>
        @Html.DropDownListFor(x => x.Role, Model.RoleDropDown, new { Name = "Role", Class = "form-control" })
    </div>

    <div class="form-group form-horizontal">
        <label for="DepRefChoice">Department</label>
        @Html.DropDownListFor(x => x.DepRefChoice, Model.DeptDropDown, new { Name = "DepRefChoice", Class = "form-control" })
    </div>

    <div class="form-group form-horizontal">
        <label for="Active">Active</label>
        @Html.DropDownListFor(x => x.Active, Model.ActiveDropDown, new { Name = "Active", Class = "form-control" })
    </div>

    <input type="submit" />
</form>

